
@import '~@sweetalert2/theme-bootstrap-4/bootstrap-4.scss';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~admin-lte/dist/css/adminlte.css';



